{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
    <title>TODO List</title>
{% endblock %}

{% block content %}
  <h1 class="mb-5">TODO list
    <a href="{% url "catalog:task-create" %}" class="btn btn-primary btn-lg link-to-page">
      Create
    </a>
  </h1>

  {% for task in task_list %}
    <div class="mb-4 border-bottom">
      <div class="d-flex justify-content-between align-items-center">
        <h5>
          <strong>{{ task.content }}</strong>
          {% if not task.is_done %}
            <span class="text-danger ml-2"><strong>Not done</strong></span>
          {% else %}
            <span class="text-success ml-2"><strong>Done</strong></span>
          {% endif %}
        </h5>

        <form method="post" action="{% url "catalog:task-toggle-status" task.pk %}">
          {% csrf_token %}
          {% if task.is_done %}
            <button type="submit" class="btn btn-secondary btn-lg">Undo</button>
          {% else %}
            <button type="submit" class="btn btn-success btn-lg">Complete</button>
          {% endif %}
        </form>
      </div>

      <p class="text-muted">Created: {{ task.created_at|date:"F j, Y, g:i a" }}</p>

      {% if task.deadline %}
        <p class="text-danger">Deadline: {{ task.deadline|date:"F j, Y, g:i a" }}</p>
      {% endif %}

      <p class="text-muted">
        Tags:
          {% for tag in task.tags.all %}
            {{ tag.name }}{% if not forloop.last %}, {% endif %}
          {% empty %}
            None
          {% endfor %}
        <a href="{% url "catalog:task-update" task.pk %}" class="ml-3 text-primary">Update</a>
        <a href="{% url "catalog:task-delete" task.pk %}" class="ml-2 text-primary">Delete</a>
      </p>
    </div>
  {% empty %}
    <p>No tasks yet.</p>
  {% endfor %}
{% endblock %}
